.text {
    margin-block: 1rem;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300;
}

.title {
    font-size: 64px;
    font-weight: 500;
}

.subtitle{
    font-size: 40px;
    font-weight: 500;
}

.strong {
    font-weight: 700;
}

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block: 1rem;
    gap: 2rem;
}

.icon {
    margin-inline: 2rem;
    color: var(--textColor)
}

.icon:hover {
    color: var(--softTextColor);
}

.icon:active {
    color: var(--textColor);
}

@media screen and (max-width: 1280px) {
    .title {
        font-size: 64px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 48px;
    }
}

@media screen and (max-width: 640px) {
    .title {
        font-size: 36px;
    }
}
