.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.select{
    height: 40px;
    border: 1px solid var(--softTextColor);
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--textColor);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0 10px;
    cursor: pointer;
    background-position: right 10px center;
    font-size: 16px;
}

.editor {
    display: flex;
    gap: 20px;
    height: 700px;
    position: relative;
}

.button,
.addButton {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.addButton {
    border-color: #1a8917;
}

.add {
    display: flex;
    gap: 20px;
    position: absolute;
    z-index: 999;
    background-color: var(--bg);
    width: 100%;
    margin-inline-start: 60px;
    padding-bottom: 20px;
}

.input{
    padding: 50px;
    font-size: 64px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--textColor);
}

.input::placeholder {
    color: #b3b3b1;
}

.textArea {
    width: 100%;
}

.publish{
    margin-inline: auto;
    padding: 10px 20px;
    border: none;
    background-color: #1a8917;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s;
    width: 30%;
}

.publish:hover {
    background-color: #156812;
}